$blue: #00a3e1;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #17181b;
}

// Main tag
.main-content {
  position: relative;
  width: 100%;
  background-color: #17181b;
}
// Container of first Main Section and Menu Bar
.main-page {
  display: flex;
  position: relative;
  width: 100%;
}

/*home section */
.home-main-section {
  position: relative;
  background: url("/photos/pexels-fauxels-3184357.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-color: red;
}
/* Menu Content */
.left-margin {
  width: 11%;
  background-color: #17181b;
  color: #6d6f6f;
  height: 100vh;
  text-align: center;
}
// Menu Bar image Container
.photo-text {
  border-radius: 3px;
  position: relative;
  width: 100%;
  border: 1px solid white;
  img {
    object-fit: fill;
    width: 100%;
  }
}
// Font Awesome Person Image
.name {
  font-family: "Playfair Display", serif;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0%;
  background-color: #00a3e1;
  width: 100%;
  color: white;
  text-transform: uppercase;
  padding: 2px;
  font-weight: 300;
}
// Menu Bar container
.main-menu {
  margin-top: 1vh;
  font-size: 20px;
  width: 200px;
  display: grid;
  grid-template-columns: 20px 110px;
  grid-row-gap: 30px;
  justify-content: center;
}
// Menu Items Class
.menu-btn {
  display: none;
}
.menu-lists {
  text-transform: capitalize;
  list-style-type: none;
  margin-left: 15px;
}
// Menu items active class
.active {
  color: white;
}

// underline for background image class
.underline {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
}

// }  main section title
.header-title {
  font-family: "Playfair Display", serif;
  position: relative;
  width: 100%;
  text-align: center;
  font-weight: 900;
  margin-top: 25vh;
  color: white;
  font-size: 1.7rem;
}
// main section Name color
.fam-name {
  color: #00a3e1;
}
.move {
  color: grey;
  animation: moves 5s infinite;
  display: inline-block;
}
// about me container
.about-me {
  display: none;
  position: relative;
  width: 80%;
  margin-left: 15%;
  transition: 1s;
  padding-bottom: 3vh;
}
// About me title container
.about-me-title {
  margin: auto;
  color: #00a3e1;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px dotted grey;
  width: 80%;
}
// about me font awesome image
.span {
  display: inline-block;
  margin-top: 1vh;
}
// about me content container
.about-me-content {
  margin-top: 4vh;
  color: white;
  width: 80%;
  margin: auto;
  h2 {
    text-align: center;
    margin-bottom: 3vh;
    font-size: 1.5rem;
    color: rgb(159, 154, 154);
    margin-top: 3vh;
  }
  p {
    font-size: 0.8rem;
    line-height: 3vh;
    padding-bottom: 3vh;
  }
}

// portfoliu container
.portfolio {
  width: 80%;
  position: relative;
  display: none;
  margin: auto;
  margin-left: 15%;
}
.portfolio-article {
  overflow: hidden;
  position: relative;
  color: white;

  width: 300px;
  height: 300px;
  border: 2px solid white;
  img {
    width: 100%;
    height: 100%;
  }

  header {
    transition: all 0.7s;
    position: absolute;
    top: -30%;
  }
  footer {
    transition: all 0.7s;
    position: absolute;
    bottom: -40%;
  }
  .article-underiline {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $blue;
    opacity: 0.1;
    transition: all 0.7s;
  }
}
.portfolio-article:hover {
  footer {
    bottom: 40%;
  }
  header {
    top: 30%;
  }
  .article-underiline {
    opacity: 0.7;
    background-color: $blue;
  }
}

// portfolio content container
.portfolio-content {
  display: flex;
  width: 90%;
  margin: auto;

  margin-top: 5vh;
  justify-content: space-between;
}

.portfolio-content {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 100px;
}

// main portfolio images

.portfolio-title {
  text-align: center;
  color: $blue;
  width: 80%;
  margin-top: 3vh;
  margin-bottom: 10vh;
}
.cert-image {
  width: 600px;
}
.certificates {
  display: none;
  position: relative;
  width: 80%;
  margin: auto;
  text-align: center;
  margin-left: 11% !important;
  h1 {
    width: 90%;
    margin: auto;
    text-align: center;
    color: $blue;
    padding: 4vh;
  }
}
.certificates-content {
  display: grid;
  margin-top: 10vh;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 20px;
  justify-content: center;
}

.certificate-article {
  transition: 0.5s;
  color: white;
  position: relative;
  width: 100px;
  height: 100px;

  img {
    object-fit: fill;
    width: 100%;
    height: 100%;
  }
}

.certificate-article:hover {
  z-index: 10;
  width: 400px;
  height: 400px;
}

.contact {
  display: none;
  position: relative;
  height: auto;
  width: 60%;
  color: white;
  margin-left: 25%;
  text-align: center;

  h1 {
    text-align: center;
    color: $blue;
  }
}

.contact-content {
  margin: auto;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  width: 80%;
  margin-top: 10vh;

  a {
    background-color: transparent;
    color: none;
    color: white;
  }
}

.form-container {
  width: 70%;
  text-align: center;
  height: 70vh;
  border: 2px solid $blue;

  margin: auto;
  input {
    width: 200px;
    height: 20px;
    text-align: center;
    margin-bottom: 2vh;
  }
  label {
    margin-top: 2vh;
  }
  textarea {
    text-align: center;
  }
}
.contact-form {
  font-family: "Playfair Display", serif;
  text-transform: capitalize;
  height: 50vh;
  margin-top: 8vh;

  button {
    background-color: $blue;
    color: white;
    text-transform: capitalize;
    padding: 10px 40px 10px 40px;
    border: transparent;
    border-radius: 10px;
    margin-top: 10vh;
    font-size: 1rem;
    letter-spacing: 2px;
    font-family: "Playfair Display", serif;
    cursor: pointer;
  }
}
.fab {
  font-size: 2rem;
  color: white;
}

.fa-linkedin {
  border: transparent;
  color: $blue;
  background-color: white;
}
.linkedin {
  border: transparent;
  background-color: transparent;
  overflow: hidden;
}
.fa-twitter {
  color: $blue;
}
@media only screen and (min-width: 1056px) and (max-width: 1774px) {
  .main-menu {
    margin-top: 1vh;
    font-size: 20px;
    width: 160px;
    display: grid;
    grid-template-columns: 20px 110px;
    grid-row-gap: 30px;
    justify-content: center;
  }
  .left-margin {
    width: 13%;
    background-color: #17181b;
    color: #6d6f6f;
    height: 100vh;
    text-align: center;
  }
  .certificates-content {
    display: grid;
    margin-top: 10vh;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 50px;
    justify-content: center;
  }

  .certificate-article {
    transition: 0.5s;
    color: white;
    position: relative;
    width: 200px;
    height: 200px;

    img {
      object-fit: fill;
      width: 100%;
      height: 100%;
    }
  }

  .certificate-article:hover {
    z-index: 10;
    width: 400px;
    height: 400px;
  }
  .contact h1 {
    margin-top: 2vh;
  }
  .form-container {
    margin-top: 8vh;
  }
}
@media only screen and (min-width: 761px) and (max-width: 1160px) {
  .main-page {
    width: 100%;
  }
  .main-menu {
    margin-top: 1vh;
    font-size: 20px;
    width: 150px;
    display: grid;
    grid-template-columns: 15px 115px;
    grid-row-gap: 30px;
    justify-content: center;
  }
  .left-margin {
    width: 20%;
  }
  // about me section
  .about-me {
    margin-top: 2vh;
    width: 70%;
    margin-left: 22vh;
  }
  // portfolio section
  .portfolio {
    width: 70%;
    margin-left: 30%;
    h1 {
      margin-left: 30%;
    }
  }

  .portfolio-content {
    width: 80%;
    display: grid;
    grid-template-columns: 200px 200px;

    img {
      width: 100%;
    }
  }
  .certificates {
    width: 70%;
    margin-left: 30% !important;
  }
  .certificates-content {
    grid-template-columns: repeat(2, 150px);
    img {
      width: 150px;
    }
  }
  .certificate-article:hover {
    z-index: 10;
    width: 250px;
    height: 260px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .contact {
    width: 80%;
    margin-left: 20%;
    h1 {
      margin-top: 2vh;
    }
  }
  .form-container {
    margin-top: 5vh;
  }
  .contact-content {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  .title {
    width: 80%;
    text-align: center;
    margin: auto;
  }
}
@media only screen and (min-width: 320px) and (max-width: 760px) {
  .main-content {
    width: 100%;
  }
  .photo-text {
    width: 100px;
    height: 100px;
    img {
      width: 100%;
      height: 100px;
    }
  }

  .main-menu {
    margin-left: 2vh;
    width: 43%;
    grid-row-gap: 15px;
    grid-template-columns: 10px 70px;
    grid-column-gap: 1px;
    justify-content: left;
    font-size: 0.5rem;
  }
  .header-title {
    font-size: 1rem;
  }
  .about-me-title {
    display: inline-block;
    margin: auto;
    text-align: center;
  }
  .home-main-section {
    width: 100%;
    height: 100vh;
  }

  .left-margin {
    position: fixed;
    left: 0;
    z-index: 200;
    overflow: hidden;
    transition: all 0.6s;
    width: 0%;
    .photo-text {
      width: 100%;
    }
    img {
      width: 100%;
    }
  }
  .menu-btn {
    right: 0;
    color: white;
    position: relative;
    z-index: 10;
    display: inline-block;
    width: 1rem;
    margin-top: 2vh;
    margin-left: 2vw;
    cursor: pointer;
    text-align: center;
    position: absolute;
    padding-right: 10vw;
  }
  .span {
    display: none;
  }
  .about-me {
    width: 80%;

    h1,
    h2 {
      text-align: center;
      font-size: 0.9rem;
    }
    p {
      font-size: 10px;
    }
  }
  .about-me-content {
    width: 100%;
  }
  // portfolio section
  .portfolio {
    width: 80%;
    text-align: center;
    h1 {
      margin-left: 11% !important;
      font-size: 20px;
    }
  }

  .portfolio-content {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-gap: 10px;
    img {
      width: 100%;
    }
  }
  .certificate-article {
    margin: 30px;
    transition: 0.5s;
    color: white;
    position: relative;
    width: 100px;
    height: 100px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .certificate-article:hover {
    z-index: 10;
    width: 150px;
    height: 160px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .certificates {
    width: 70% !important;
    margin: auto;
    h1 {
      font-size: 20px;
    }
  }
  .certificates-content {
    width: 100%;
    display: grid;
    grid-template-columns: 100px 100px;

    img {
      border: 4px solid $blue;
      border-radius: 10px;
      width: 100px;
      height: 100px;
      justify-self: center;
    }
    h1 {
      font-size: 0.5rem;
    }
  }

  .contact {
    margin-left: 11%;
    width: 80%;
    height: 65vh;
  }
  h1 {
    margin-top: 3vh;
    font-size: 20px;
  }
  textarea {
    width: 100px;
    height: 50px;
  }
  .form-container {
    margin-top: 5vh;
    font-size: 15px;
    height: 55vh;

    button {
      font-size: 10px;
      padding: 5px 10px 5px 10px;
      border-radius: 5px;
      margin-top: 5vh;
    }
    input {
      width: 120px;
      margin: 20px;
    }
  }
  .contact-content {
    margin-top: 25vh;
  }

  .fab {
    font-size: 25px;
  }
}

.disp {
  display: inline;
}

.none {
  display: none;
}

.add {
  display: inline;
  position: absolute;
  top: 0;
}
.menu-display {
  width: 28%;
}
